<div class="bg-light vh-100">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" routerLink="/">Angular</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	  <div class="navbar-nav">
		<a class="nav-item nav-link" routerLink="/Products">Produits</a>
		<!--<a class="nav-item nav-link" routerLink="/ProductsListPropre">Produits Propre</a>-->
		<a class="nav-item nav-link" routerLink="/ProductsList">Liste des Produits</a>
		<a class="nav-item nav-link" routerLink="/ProductsFormList">Ajouter un Produit</a>
	  </div>
	</div>
  </nav>
<router-outlet></router-outlet>
</div>